Host {{ssh__hostname}}
        Hostname localhost
        User {{ssh__hostname}}

Host {{ssh__hostname}}r
        Hostname localhost
        User root

Host {{ssh__hostname}}-ws
        Hostname localhost
        User ws