[Unit]
Description={{service_name}}

[Service]
ExecStart=/usr/local/ws/svc/{{service_name}}.bash
StandardOutput=file:/usr/local/ws/log/{{service_name}}.log
StandardError=inherit
{% if service_stop_template is defined %}
ExecStopPost=/usr/local/ws/svc/{{service_name}}_stop.bash
{% endif %}

User=ws
Group=ws
SyslogLevel=debug
PIDFile=/usr/local/ws/pid/{{service_name}}.pid
Restart=always

[Install]
WantedBy=multi-user.target
